# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Missing-values" data-toc-modified-id="Missing-values-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Missing values</a></div><div class="lev1 toc-item"><a href="#Count-missing-values" data-toc-modified-id="Count-missing-values-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Count missing values</a></div><div class="lev1 toc-item"><a href="#Fill-missing-values" data-toc-modified-id="Fill-missing-values-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Fill missing values</a></div><div class="lev1 toc-item"><a href="#Interpolate-missing-values" data-toc-modified-id="Interpolate-missing-values-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Interpolate missing values</a></div><div class="lev1 toc-item"><a href="#Drop-missing-values" data-toc-modified-id="Drop-missing-values-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Drop missing values</a></div>

We first saw missing data when we started merging our data in the previous notebook.
Here we will cover what exactly is "missing" data from Python's perspective,
how to check for them, and what happens when you perform calculations with them.

# Missing values

In [1]:
import pandas as pd

In [2]:
# We can use the from ... import notation to just import parts of a library we want
# instead of importing all of it
# here we are importing 3 ways missing values can be created and used
# they only differ in the capitalization, they all refer to the same notion of "missing"
from numpy import NaN, NAN, nan

In [3]:
nan

nan

In [4]:
from pandas import read_csv

In [5]:
read_csv('../data/concat_1.csv')

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

In [6]:
# things that are missing do not equal anything else
nan == True

False

In [7]:
NaN == False

False

In [8]:
# not even eath other
nan == nan

False

In [9]:
# we need to use a special function to check for missing-ness
pd.isnull(nan)

True

In [10]:
pd.isnull(NAN)

True

In [11]:
pd.isnull(NaN)

True

In [12]:
pd.isnull(42)

False

In [13]:
pd.notnull(NAN)

False

In [14]:
# Here's a dataset with missing values
ebola = pd.read_csv('../data/ebola_country_timeseries.csv')

In [15]:
ebola.head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

# Count missing values

In [16]:
# Note the column of non-null numbers
ebola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
Date                   122 non-null object
Day                    122 non-null int64
Cases_Guinea           93 non-null float64
Cases_Liberia          83 non-null float64
Cases_SierraLeone      87 non-null float64
Cases_Nigeria          38 non-null float64
Cases_Senegal          25 non-null float64
Cases_UnitedStates     18 non-null float64
Cases_Spain            16 non-null float64
Cases_Mali             12 non-null float64
Deaths_Guinea          92 non-null float64
Deaths_Liberia         81 non-null float64
Deaths_SierraLeone     87 non-null float64
Deaths_Nigeria         38 non-null float64
Deaths_Senegal         22 non-null float64
Deaths_UnitedStates    18 non-null float64
Deaths_Spain           16 non-null float64
Deaths_Mali            12 non-null float64
dtypes: float64(16), int64(1), object(1)
memory usage: 17.2+ KB

In [17]:
# get frequency counts that also count missing
# note results are in decending order
# missing values are not always going to show up first
ebola['Cases_Guinea'].value_counts(dropna=False)

NaN        29
 86.0       3
 495.0      2
 112.0      2
 390.0      2
 506.0      1
 812.0      1
 771.0      1
 648.0      1
 607.0      1
 579.0      1
 543.0      1
 519.0      1
 510.0      1
 2597.0     1
 2769.0     1
 899.0      1
 2571.0     1
 485.0      1
 472.0      1
 460.0      1
 427.0      1
 415.0      1
 861.0      1
 942.0      1
 936.0      1
 1667.0     1
 2706.0     1
 2416.0     1
 2292.0     1
           ..
 1519.0     1
 151.0      1
 1199.0     1
 143.0      1
 127.0      1
 122.0      1
 103.0      1
 49.0       1
 2695.0     1
 2730.0     1
 208.0      1
 218.0      1
 408.0      1
 412.0      1
 413.0      1
 398.0      1
 351.0      1
 344.0      1
 328.0      1
 291.0      1
 281.0      1
 258.0      1
 248.0      1
 233.0      1
 236.0      1
 235.0      1
 231.0      1
 226.0      1
 224.0      1
 2776.0     1
Name: Cases_Guinea, Length: 89, dtype: int64

In [18]:
# assert statement to check assumption that all values are not missing
assert all(pd.isnull(ebola['Cases_Guinea']))

AssertionError:

# Fill missing values

In [19]:
# replace all NaN values with a specif value
ebola.fillna(0).head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,0.0,10030.0,0.0,0.0,0.0,0.0,0.0,1786.0,0.0,2977.0,0.0,0.0,0.0,0.0,0.0
1,1/4/2015,288,2775.0,0.0,9780.0,0.0,0.0,0.0,0.0,0.0,1781.0,0.0,2943.0,0.0,0.0,0.0,0.0,0.0
2,1/3/2015,287,2769.0,8166.0,9722.0,0.0,0.0,0.0,0.0,0.0,1767.0,3496.0,2915.0,0.0,0.0,0.0,0.0,0.0
3,1/2/2015,286,0.0,8157.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3496.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12/31/2014,284,2730.0,8115.0,9633.0,0.0,0.0,0.0,0.0,0.0,1739.0,3471.0,2827.0,0.0,0.0,0.0,0.0,0.0

In [20]:
# Forward fill missing values
ebola.fillna(method='ffill')

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,2769.0,8157.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
5,12/28/2014,281,2706.0,8018.0,9446.0,NaN,NaN,NaN,NaN,NaN,1708.0,3423.0,2758.0,NaN,NaN,NaN,NaN,NaN
6,12/27/2014,280,2695.0,8018.0,9409.0,NaN,NaN,NaN,NaN,NaN,1697.0,3423.0,2732.0,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,277,2630.0,7977.0,9203.0,NaN,NaN,NaN,NaN,NaN,1697.0,3413.0,2655.0,NaN,NaN,NaN,NaN,NaN
8,12/21/2014,273,2597.0,7977.0,9004.0,NaN,NaN,NaN,NaN,NaN,1607.0,3413.0,2582.0,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,272,2571.0,7862.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3384.0,2556.0,NaN,NaN,NaN,NaN,NaN
10,12/18/2014,271,2571.0,7830.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3376.0,2556.0,NaN,NaN,NaN,NaN,NaN
11,12/14/2014,267,2416.0,7830.0,8356.0,NaN,NaN,NaN,NaN,NaN,1525.0,3376.0,2085.0,NaN,NaN,NaN,NaN,NaN
12,12/9/2014,262,2416.0,7797.0,8356.0,NaN,NaN,NaN,NaN,NaN,1525.0,3290.0,2085.0,NaN,NaN,NaN,NaN,NaN
13,12/7/2014,260,2292.0,7797.0,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,3290.0,1768.0,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,256,2292.0,7719.0,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,3177.0,1768.0,8.0,0.0,1.0,0.0,6.0
15,11/30/2014,253,2164.0,7719.0,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,3177.0,1583.0,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,251,2164.0,7635.0,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,3145.0,1583.0,8.0,0.0,1.0,0.0,6.0
17,11/23/2014,246,2134.0,7635.0,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,3145.0,1398.0,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,245,2134.0,7168.0,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,3016.0,1398.0,8.0,0.0,1.0,0.0,6.0
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,239,1971.0,7082.0,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,2963.0,1250.0,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,238,1971.0,7069.0,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,2964.0,1250.0,8.0,0.0,1.0,0.0,5.0
22,11/11/2014,234,1919.0,7069.0,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,2964.0,1187.0,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,233,1919.0,6878.0,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,2812.0,1187.0,8.0,0.0,1.0,0.0,3.0
24,11/9/2014,232,1878.0,6878.0,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,2812.0,1169.0,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,231,1878.0,6822.0,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,2836.0,1169.0,8.0,0.0,1.0,0.0,1.0
26,11/4/2014,227,1878.0,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,1142.0,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,226,1760.0,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,1054.0,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0
28,11/2/2014,225,1731.0,6619.0,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,2766.0,1070.0,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,222,1731.0,6525.0,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,2697.0,1070.0,8.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.0,12.0,0.0,0.0,1.0,1.0,1.0,1.0,174.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
93,5/12/2014,51,248.0,12.0,0.0,0.0,1.0,1.0,1.0,1.0,171.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
94,5/10/2014,49,233.0,12.0,0.0,0.0,1.0,1.0,1.0,1.0,157.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
95,5/7/2014,46,236.0,13.0,0.0,0.0,1.0,1.0,1.0,1.0,158.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
96,5/5/2014,44,235.0,13.0,0.0,0.0,1.0,1.0,1.0,1.0,157.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
97,5/3/2014,42,231.0,13.0,0.0,0.0,1.0,1.0,1.0,1.0,155.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
98,5/1/2014,40,226.0,13.0,0.0,0.0,1.0,1.0,1.0,1.0,149.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
99,4/26/2014,35,224.0,13.0,0.0,0.0,1.0,1.0,1.0,1.0,143.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
100,4/24/2014,33,224.0,35.0,0.0,0.0,1.0,1.0,1.0,1.0,143.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
101,4/23/2014,32,218.0,35.0,0.0,0.0,1.0,1.0,1.0,1.0,141.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
102,4/22/2014,31,218.0,35.0,0.0,0.0,1.0,1.0,1.0,1.0,141.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
103,4/21/2014,30,218.0,34.0,0.0,0.0,1.0,1.0,1.0,1.0,141.0,11.0,0.0,0.0,0.0,0.0,1.0,1.0
104,4/20/2014,29,208.0,34.0,0.0,0.0,1.0,1.0,1.0,1.0,136.0,6.0,0.0,0.0,0.0,0.0,1.0,1.0
105,4/17/2014,26,203.0,27.0,0.0,0.0,1.0,1.0,1.0,1.0,129.0,6.0,0.0,0.0,0.0,0.0,1.0,1.0
106,4/16/2014,25,197.0,27.0,0.0,0.0,1.0,1.0,1.0,1.0,122.0,13.0,0.0,0.0,0.0,0.0,1.0,1.0
107,4/15/2014,24,197.0,27.0,12.0,0.0,1.0,1.0,1.0,1.0,122.0,13.0,0.0,0.0,0.0,0.0,1.0,1.0
108,4/14/2014,23,168.0,27.0,12.0,0.0,1.0,1.0,1.0,1.0,108.0,13.0,0.0,0.0,0.0,0.0,1.0,1.0
109,4/11/2014,20,159.0,26.0,2.0,0.0,1.0,1.0,1.0,1.0,106.0,13.0,2.0,0.0,0.0,0.0,1.0,1.0
110,4/9/2014,18,158.0,25.0,2.0,0.0,1.0,1.0,1.0,1.0,101.0,12.0,2.0,0.0,0.0,0.0,1.0,1.0
111,4/7/2014,16,151.0,21.0,2.0,0.0,1.0,1.0,1.0,1.0,95.0,10.0,2.0,0.0,0.0,0.0,1.0,1.0
112,4/4/2014,13,143.0,18.0,2.0,0.0,1.0,1.0,1.0,1.0,86.0,7.0,2.0,0.0,0.0,0.0,1.0,1.0
113,4/1/2014,10,127.0,8.0,2.0,0.0,1.0,1.0,1.0,1.0,83.0,5.0,2.0,0.0,0.0,0.0,1.0,1.0
114,3/31/2014,9,122.0,8.0,2.0,0.0,1.0,1.0,1.0,1.0,80.0,4.0,2.0,0.0,0.0,0.0,1.0,1.0
115,3/29/2014,7,112.0,7.0,2.0,0.0,1.0,1.0,1.0,1.0,70.0,2.0,2.0,0.0,0.0,0.0,1.0,1.0
116,3/28/2014,6,112.0,3.0,2.0,0.0,1.0,1.0,1.0,1.0,70.0,3.0,2.0,0.0,0.0,0.0,1.0,1.0
117,3/27/2014,5,103.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,66.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
118,3/26/2014,4,86.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,62.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
119,3/25/2014,3,86.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,60.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
120,3/24/2014,2,86.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,59.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
121,3/22/2014,0,49.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,29.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0

In [21]:
# Back fill missing values
ebola.fillna(method='bfill')

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,8166.0,10030.0,20.0,1.0,4.0,1.0,7.0,1786.0,3496.0,2977.0,8.0,0.0,1.0,0.0,6.0
1,1/4/2015,288,2775.0,8166.0,9780.0,20.0,1.0,4.0,1.0,7.0,1781.0,3496.0,2943.0,8.0,0.0,1.0,0.0,6.0
2,1/3/2015,287,2769.0,8166.0,9722.0,20.0,1.0,4.0,1.0,7.0,1767.0,3496.0,2915.0,8.0,0.0,1.0,0.0,6.0
3,1/2/2015,286,2730.0,8157.0,9633.0,20.0,1.0,4.0,1.0,7.0,1739.0,3496.0,2827.0,8.0,0.0,1.0,0.0,6.0
4,12/31/2014,284,2730.0,8115.0,9633.0,20.0,1.0,4.0,1.0,7.0,1739.0,3471.0,2827.0,8.0,0.0,1.0,0.0,6.0
5,12/28/2014,281,2706.0,8018.0,9446.0,20.0,1.0,4.0,1.0,7.0,1708.0,3423.0,2758.0,8.0,0.0,1.0,0.0,6.0
6,12/27/2014,280,2695.0,7977.0,9409.0,20.0,1.0,4.0,1.0,7.0,1697.0,3413.0,2732.0,8.0,0.0,1.0,0.0,6.0
7,12/24/2014,277,2630.0,7977.0,9203.0,20.0,1.0,4.0,1.0,7.0,1607.0,3413.0,2655.0,8.0,0.0,1.0,0.0,6.0
8,12/21/2014,273,2597.0,7862.0,9004.0,20.0,1.0,4.0,1.0,7.0,1607.0,3384.0,2582.0,8.0,0.0,1.0,0.0,6.0
9,12/20/2014,272,2571.0,7862.0,8939.0,20.0,1.0,4.0,1.0,7.0,1586.0,3384.0,2556.0,8.0,0.0,1.0,0.0,6.0
10,12/18/2014,271,2416.0,7830.0,8356.0,20.0,1.0,4.0,1.0,7.0,1525.0,3376.0,2085.0,8.0,0.0,1.0,0.0,6.0
11,12/14/2014,267,2416.0,7797.0,8356.0,20.0,1.0,4.0,1.0,7.0,1525.0,3290.0,2085.0,8.0,0.0,1.0,0.0,6.0
12,12/9/2014,262,2292.0,7797.0,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,3290.0,1768.0,8.0,0.0,1.0,0.0,6.0
13,12/7/2014,260,2292.0,7719.0,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,3177.0,1768.0,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,256,2164.0,7719.0,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,3177.0,1583.0,8.0,0.0,1.0,0.0,6.0
15,11/30/2014,253,2164.0,7635.0,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,3145.0,1583.0,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,251,2134.0,7635.0,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,3145.0,1398.0,8.0,0.0,1.0,0.0,6.0
17,11/23/2014,246,2134.0,7168.0,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,3016.0,1398.0,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,245,2047.0,7168.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,3016.0,1267.0,8.0,0.0,1.0,0.0,6.0
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,239,1971.0,7069.0,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,2964.0,1250.0,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,238,1919.0,7069.0,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,2964.0,1187.0,8.0,0.0,1.0,0.0,3.0
22,11/11/2014,234,1919.0,6878.0,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,2812.0,1187.0,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,233,1878.0,6878.0,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,2812.0,1169.0,8.0,0.0,1.0,0.0,1.0
24,11/9/2014,232,1878.0,6822.0,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,2836.0,1169.0,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,231,1760.0,6822.0,4862.0,20.0,1.0,4.0,1.0,1.0,1054.0,2836.0,1130.0,8.0,0.0,1.0,0.0,1.0
26,11/4/2014,227,1760.0,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,1054.0,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,226,1760.0,6525.0,4759.0,20.0,1.0,4.0,1.0,1.0,1054.0,2697.0,1070.0,8.0,0.0,1.0,0.0,1.0
28,11/2/2014,225,1731.0,6525.0,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,2697.0,1070.0,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,222,1667.0,6525.0,5338.0,20.0,1.0,4.0,1.0,1.0,1018.0,2697.0,1510.0,8.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,174.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
93,5/12/2014,51,248.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,171.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
94,5/10/2014,49,233.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
95,5/7/2014,46,236.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,158.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
96,5/5/2014,44,235.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
97,5/3/2014,42,231.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,155.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
98,5/1/2014,40,226.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,149.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
99,4/26/2014,35,224.0,35.0,0.0,NaN,NaN,NaN,NaN,NaN,143.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
100,4/24/2014,33,218.0,35.0,0.0,NaN,NaN,NaN,NaN,NaN,141.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
101,4/23/2014,32,218.0,34.0,0.0,NaN,NaN,NaN,NaN,NaN,141.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
102,4/22/2014,31,208.0,34.0,0.0,NaN,NaN,NaN,NaN,NaN,136.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
103,4/21/2014,30,208.0,34.0,12.0,NaN,NaN,NaN,NaN,NaN,136.0,11.0,2.0,NaN,NaN,NaN,NaN,NaN
104,4/20/2014,29,208.0,27.0,12.0,NaN,NaN,NaN,NaN,NaN,136.0,6.0,2.0,NaN,NaN,NaN,NaN,NaN
105,4/17/2014,26,203.0,27.0,12.0,NaN,NaN,NaN,NaN,NaN,129.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
106,4/16/2014,25,197.0,27.0,12.0,NaN,NaN,NaN,NaN,NaN,122.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
107,4/15/2014,24,168.0,26.0,12.0,NaN,NaN,NaN,NaN,NaN,108.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
108,4/14/2014,23,168.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,108.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
109,4/11/2014,20,159.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,106.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
110,4/9/2014,18,158.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,101.0,12.0,2.0,NaN,NaN,NaN,NaN,NaN
111,4/7/2014,16,151.0,21.0,2.0,NaN,NaN,NaN,NaN,NaN,95.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN
112,4/4/2014,13,143.0,18.0,2.0,NaN,NaN,NaN,NaN,NaN,86.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN
113,4/1/2014,10,127.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,83.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN
114,3/31/2014,9,122.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,80.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN
115,3/29/2014,7,112.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN
116,3/28/2014,6,112.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Interpolate missing values

In [22]:
# linearly interpolate missing values
ebola.interpolate()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.000000,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.000000,NaN,2977.000000,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.000000,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.000000,NaN,2943.000000,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.000000,8166.000000,9722.0,NaN,NaN,NaN,NaN,NaN,1767.000000,3496.0,2915.000000,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,2749.500000,8157.000000,9677.5,NaN,NaN,NaN,NaN,NaN,1753.000000,3496.0,2871.000000,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.000000,8115.000000,9633.0,NaN,NaN,NaN,NaN,NaN,1739.000000,3471.0,2827.000000,NaN,NaN,NaN,NaN,NaN
5,12/28/2014,281,2706.000000,8018.000000,9446.0,NaN,NaN,NaN,NaN,NaN,1708.000000,3423.0,2758.000000,NaN,NaN,NaN,NaN,NaN
6,12/27/2014,280,2695.000000,7997.500000,9409.0,NaN,NaN,NaN,NaN,NaN,1697.000000,3418.0,2732.000000,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,277,2630.000000,7977.000000,9203.0,NaN,NaN,NaN,NaN,NaN,1652.000000,3413.0,2655.000000,NaN,NaN,NaN,NaN,NaN
8,12/21/2014,273,2597.000000,7919.500000,9004.0,NaN,NaN,NaN,NaN,NaN,1607.000000,3398.5,2582.000000,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,272,2571.000000,7862.000000,8939.0,NaN,NaN,NaN,NaN,NaN,1586.000000,3384.0,2556.000000,NaN,NaN,NaN,NaN,NaN
10,12/18/2014,271,2493.500000,7830.000000,8647.5,NaN,NaN,NaN,NaN,NaN,1555.500000,3376.0,2320.500000,NaN,NaN,NaN,NaN,NaN
11,12/14/2014,267,2416.000000,7813.500000,8356.0,NaN,NaN,NaN,NaN,NaN,1525.000000,3333.0,2085.000000,NaN,NaN,NaN,NaN,NaN
12,12/9/2014,262,2354.000000,7797.000000,8126.5,NaN,NaN,NaN,NaN,NaN,1476.500000,3290.0,1926.500000,NaN,NaN,NaN,NaN,NaN
13,12/7/2014,260,2292.000000,7758.000000,7897.0,20.0,1.0,4.0,1.0,7.0,1428.000000,3233.5,1768.000000,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,256,2228.000000,7719.000000,7604.5,20.0,1.0,4.0,1.0,7.0,1377.500000,3177.0,1675.500000,8.0,0.0,1.0,0.0,6.0
15,11/30/2014,253,2164.000000,7677.000000,7312.0,20.0,1.0,4.0,1.0,7.0,1327.000000,3161.0,1583.000000,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,251,2149.000000,7635.000000,6955.5,20.0,1.0,4.0,1.0,7.0,1293.500000,3145.0,1490.500000,8.0,0.0,1.0,0.0,6.0
17,11/23/2014,246,2134.000000,7401.500000,6599.0,20.0,1.0,4.0,1.0,7.0,1260.000000,3080.5,1398.000000,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,245,2090.500000,7168.000000,6394.5,20.0,1.0,4.0,1.0,6.5,1237.000000,3016.0,1332.500000,8.0,0.0,1.0,0.0,6.0
19,11/18/2014,241,2047.000000,7082.000000,6190.0,20.0,1.0,4.0,1.0,6.0,1214.000000,2963.0,1267.000000,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,239,1971.000000,7075.500000,6073.0,20.0,1.0,4.0,1.0,5.0,1192.000000,2963.5,1250.000000,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,238,1945.000000,7069.000000,5829.5,20.0,1.0,4.0,1.0,4.5,1179.000000,2964.0,1218.500000,8.0,0.0,1.0,0.0,4.0
22,11/11/2014,234,1919.000000,6973.500000,5586.0,20.0,1.0,4.0,1.0,4.0,1166.000000,2888.0,1187.000000,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,233,1898.500000,6878.000000,5477.0,20.0,1.0,4.0,1.0,2.5,1154.000000,2812.0,1178.000000,8.0,0.0,1.0,0.0,2.0
24,11/9/2014,232,1878.000000,6850.000000,5368.0,20.0,1.0,4.0,1.0,1.0,1142.000000,2824.0,1169.000000,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,231,1838.666667,6822.000000,5115.0,20.0,1.0,4.0,1.0,1.0,1112.666667,2836.0,1149.500000,8.0,0.0,1.0,0.0,1.0
26,11/4/2014,227,1799.333333,6619.000000,4862.0,20.0,1.0,4.0,1.0,1.0,1083.333333,2766.0,1130.000000,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,226,1760.000000,6587.666667,4810.5,20.0,1.0,4.0,1.0,1.0,1054.000000,2743.0,1100.000000,8.0,0.0,1.0,0.0,1.0
28,11/2/2014,225,1731.000000,6556.333333,4759.0,20.0,1.0,4.0,1.0,1.0,1041.000000,2720.0,1070.000000,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,222,1699.000000,6525.000000,5048.5,20.0,1.0,4.0,1.0,1.0,1029.500000,2697.0,1290.000000,8.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.000000,12.000000,0.0,0.0,1.0,1.0,1.0,1.0,174.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
93,5/12/2014,51,248.000000,12.000000,0.0,0.0,1.0,1.0,1.0,1.0,171.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
94,5/10/2014,49,233.000000,12.000000,0.0,0.0,1.0,1.0,1.0,1.0,157.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
95,5/7/2014,46,236.000000,13.000000,0.0,0.0,1.0,1.0,1.0,1.0,158.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
96,5/5/2014,44,235.000000,13.000000,0.0,0.0,1.0,1.0,1.0,1.0,157.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
97,5/3/2014,42,231.000000,13.000000,0.0,0.0,1.0,1.0,1.0,1.0,155.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
98,5/1/2014,40,226.000000,13.000000,0.0,0.0,1.0,1.0,1.0,1.0,149.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
99,4/26/2014,35,224.000000,24.000000,0.0,0.0,1.0,1.0,1.0,1.0,143.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
100,4/24/2014,33,221.000000,35.000000,0.0,0.0,1.0,1.0,1.0,1.0,142.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
101,4/23/2014,32,218.000000,34.666667,0.0,0.0,1.0,1.0,1.0,1.0,141.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
102,4/22/2014,31,214.666667,34.333333,0.0,0.0,1.0,1.0,1.0,1.0,139.333333,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
103,4/21/2014,30,211.333333,34.000000,2.4,0.0,1.0,1.0,1.0,1.0,137.666667,11.0,0.285714,0.0,0.0,0.0,1.0,1.0
104,4/20/2014,29,208.000000,30.500000,4.8,0.0,1.0,1.0,1.0,1.0,136.000000,6.0,0.571429,0.0,0.0,0.0,1.0,1.0
105,4/17/2014,26,203.000000,27.000000,7.2,0.0,1.0,1.0,1.0,1.0,129.000000,9.5,0.857143,0.0,0.0,0.0,1.0,1.0
106,4/16/2014,25,197.000000,27.000000,9.6,0.0,1.0,1.0,1.0,1.0,122.000000,13.0,1.142857,0.0,0.0,0.0,1.0,1.0
107,4/15/2014,24,182.500000,26.666667,12.0,0.0,1.0,1.0,1.0,1.0,115.000000,13.0,1.428571,0.0,0.0,0.0,1.0,1.0
108,4/14/2014,23,168.000000,26.333333,7.0,0.0,1.0,1.0,1.0,1.0,108.000000,13.0,1.714286,0.0,0.0,0.0,1.0,1.0
109,4/11/2014,20,159.000000,26.000000,2.0,0.0,1.0,1.0,1.0,1.0,106.000000,13.0,2.000000,0.0,0.0,0.0,1.0,1.0
110,4/9/2014,18,158.000000,25.000000,2.0,0.0,1.0,1.0,1.0,1.0,101.000000,12.0,2.000000,0.0,0.0,0.0,1.0,1.0
111,4/7/2014,16,151.000000,21.000000,2.0,0.0,1.0,1.0,1.0,1.0,95.000000,10.0,2.000000,0.0,0.0,0.0,1.0,1.0
112,4/4/2014,13,143.000000,18.000000,2.0,0.0,1.0,1.0,1.0,1.0,86.000000,7.0,2.000000,0.0,0.0,0.0,1.0,1.0
113,4/1/2014,10,127.000000,8.000000,2.0,0.0,1.0,1.0,1.0,1.0,83.000000,5.0,2.000000,0.0,0.0,0.0,1.0,1.0
114,3/31/2014,9,122.000000,8.000000,2.0,0.0,1.0,1.0,1.0,1.0,80.000000,4.0,2.000000,0.0,0.0,0.0,1.0,1.0
115,3/29/2014,7,112.000000,7.000000,2.0,0.0,1.0,1.0,1.0,1.0,70.000000,2.0,2.000000,0.0,0.0,0.0,1.0,1.0
116,3/28/2014,6,112.000000,3.000000,2.0,0.0,1.0,1.0,1.0,1.0,70.000000,3.0,2.000000,0.0,0.0,0.0,1.0,1.0
117,3/27/2014,5,103.000000,8.000000,6.0,0.0,1.0,1.0,1.0,1.0,66.000000,6.0,5.000000,0.0,0.0,0.0,1.0,1.0
118,3/26/2014,4,86.000000,8.000000,6.0,0.0,1.0,1.0,1.0,1.0,62.000000,6.0,5.000000,0.0,0.0,0.0,1.0,1.0
119,3/25/2014,3,86.000000,8.000000,6.0,0.0,1.0,1.0,1.0,1.0,60.000000,6.0,5.000000,0.0,0.0,0.0,1.0,1.0
120,3/24/2014,2,86.000000,8.000000,6.0,0.0,1.0,1.0,1.0,1.0,59.000000,6.0,5.000000,0.0,0.0,0.0,1.0,1.0
121,3/22/2014,0,49.000000,8.000000,6.0,0.0,1.0,1.0,1.0,1.0,29.000000,6.0,5.000000,0.0,0.0,0.0,1.0,1.0

# Drop missing values

In [23]:
ebola = pd.read_csv('../data/ebola_country_timeseries.csv')

In [24]:
# drop a column
ebola.drop('Day', axis=1)

,Date,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN
5,12/28/2014,2706.0,8018.0,9446.0,NaN,NaN,NaN,NaN,NaN,1708.0,3423.0,2758.0,NaN,NaN,NaN,NaN,NaN
6,12/27/2014,2695.0,NaN,9409.0,NaN,NaN,NaN,NaN,NaN,1697.0,NaN,2732.0,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,2630.0,7977.0,9203.0,NaN,NaN,NaN,NaN,NaN,NaN,3413.0,2655.0,NaN,NaN,NaN,NaN,NaN
8,12/21/2014,2597.0,NaN,9004.0,NaN,NaN,NaN,NaN,NaN,1607.0,NaN,2582.0,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,2571.0,7862.0,8939.0,NaN,NaN,NaN,NaN,NaN,1586.0,3384.0,2556.0,NaN,NaN,NaN,NaN,NaN
10,12/18/2014,NaN,7830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3376.0,NaN,NaN,NaN,NaN,NaN,NaN
11,12/14/2014,2416.0,NaN,8356.0,NaN,NaN,NaN,NaN,NaN,1525.0,NaN,2085.0,NaN,NaN,NaN,NaN,NaN
12,12/9/2014,NaN,7797.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3290.0,NaN,NaN,NaN,NaN,NaN,NaN
13,12/7/2014,2292.0,NaN,7897.0,20.0,1.0,4.0,1.0,7.0,1428.0,NaN,1768.0,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,NaN,7719.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3177.0,NaN,NaN,NaN,NaN,NaN,NaN
15,11/30/2014,2164.0,NaN,7312.0,20.0,1.0,4.0,1.0,7.0,1327.0,NaN,1583.0,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,NaN,7635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3145.0,NaN,NaN,NaN,NaN,NaN,NaN
17,11/23/2014,2134.0,NaN,6599.0,20.0,1.0,4.0,1.0,7.0,1260.0,NaN,1398.0,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,NaN,7168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3016.0,NaN,NaN,NaN,NaN,NaN,NaN
19,11/18/2014,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,1971.0,NaN,6073.0,20.0,1.0,4.0,1.0,5.0,1192.0,NaN,1250.0,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,NaN,7069.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2964.0,NaN,NaN,NaN,NaN,NaN,NaN
22,11/11/2014,1919.0,NaN,5586.0,20.0,1.0,4.0,1.0,4.0,1166.0,NaN,1187.0,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,NaN,6878.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2812.0,NaN,NaN,NaN,NaN,NaN,NaN
24,11/9/2014,1878.0,NaN,5368.0,20.0,1.0,4.0,1.0,1.0,1142.0,NaN,1169.0,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,NaN,6822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2836.0,NaN,NaN,NaN,NaN,NaN,NaN
26,11/4/2014,NaN,6619.0,4862.0,20.0,1.0,4.0,1.0,1.0,NaN,2766.0,1130.0,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,1760.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1054.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,11/2/2014,1731.0,NaN,4759.0,20.0,1.0,4.0,1.0,1.0,1041.0,NaN,1070.0,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,NaN,6525.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2697.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,258.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,174.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
93,5/12/2014,248.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,171.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
94,5/10/2014,233.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
95,5/7/2014,236.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,158.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
96,5/5/2014,235.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,157.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
97,5/3/2014,231.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,155.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
98,5/1/2014,226.0,13.0,0.0,NaN,NaN,NaN,NaN,NaN,149.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN
99,4/26/2014,224.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,143.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
100,4/24/2014,NaN,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
101,4/23/2014,218.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,141.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
102,4/22/2014,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
103,4/21/2014,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
104,4/20/2014,208.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN
105,4/17/2014,203.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,129.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,4/16/2014,197.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,122.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
107,4/15/2014,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,4/14/2014,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,4/11/2014,159.0,26.0,2.0,NaN,NaN,NaN,NaN,NaN,106.0,13.0,2.0,NaN,NaN,NaN,NaN,NaN
110,4/9/2014,158.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,101.0,12.0,2.0,NaN,NaN,NaN,NaN,NaN
111,4/7/2014,151.0,21.0,2.0,NaN,NaN,NaN,NaN,NaN,95.0,10.0,2.0,NaN,NaN,NaN,NaN,NaN
112,4/4/2014,143.0,18.0,2.0,NaN,NaN,NaN,NaN,NaN,86.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN
113,4/1/2014,127.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,83.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN
114,3/31/2014,122.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,80.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN
115,3/29/2014,112.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,70.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
116,3/28/2014,112.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,70.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN
117,3/27/2014,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# return a dataframe where all rows have values in them
ebola.dropna()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
19,11/18/2014,241,2047.0,7082.0,6190.0,20.0,1.0,4.0,1.0,6.0,1214.0,2963.0,1267.0,8.0,0.0,1.0,0.0,6.0

In [26]:
# missing values are ignored when performing calculations
ebola.Cases_Guinea.mean()

911.0645161290323